<launch>
  <!-- turtlebot_teleop_key already has its own built in velocity smoother -->
  <node pkg="create_urdf" type="chefbot_teleop_key" name="key_taomoi"  output="screen">

<!--    <remap from="arlobot_teleop_keyboard/cmd_vel" to="diffbot_controller/cmd_vel"/> -->
    <remap from="key_taomoi/cmd_vel" to="/cmd_vel"/> 
  </node>
</launch>
